body{
   background: url("https://www.xloopdigital.com/wp-content/uploads/2023/01/xloop-img-1-copy-1024x793.webp");
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center; 
}


.hidden-content{
    display: none;
}
.hidden-content.reveal-btn{
    display: block;
}
#model-background{
    display: none;
}


/* <!--  Project-3  Accordian--> */
.accordion{
    width: 65%;
    background-color: #ffff;
    padding: 30px;
    border-radius:30px ;
}
.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;

}
.accordion .content-container .question{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

.accordion .content-container .question::after{

content: '+';
position: absolute;
right: -5px;

}
/* isko click pr kholengay */
.accordion .content-container .answer{
padding-top: 15px;
font-size: 22px;
line-height: 1.5;
width: 100%;
height: 0px;
overflow: hidden;
transition: .5s;

}
/* javascript Styling link */
.accordion .content-container.active1 .answer{
    height: 150px;
  
}
/* jaisai active ho class toh - ka sign ajae */
.accordion .content-container.active1 .question::after{

content: '-';
font-size: 30px;
transition: .5s;    
    }


    /* <!--   Project-4  Stop Watch--> */

    