body {
    background-color: whitesmoke;
}

header {
    position: fixed;
    z-index: 1;
    height: 40px;
    width: 98%;
    background-color: #668284;
    margin-bottom: 10px
}

table {
    border: 1px dashed black;
}

td {
    padding: 3px;
    border: 1px solid #E88741;
}

h1,
h2,
h3,
h4 {
    color: crimson;
}

b {
    color: darkslategrey;
}